/****************************************
 *************** GENERAL ****************
 ****************************************/

*{
	margin: 0px;
	padding: 0px;
}
html, body{
	height: 100%;
	width: 100%;
	font-size: 12px;
  font-family: sans-serif;
}
.BodyWrapper{
	height: 100%;
	min-height: 100%;
	position: relative;
	margin-bottom: 20px;
}
.Panel{
	position: relative;
	background-color: #DDD;
	border: #AAA 1px solid;
	box-shadow: 2px 2px 4px #777;
}

/****************************************
 *************** TOP MENU ***************
 ****************************************/

#topMenu.Panel{
	height: 25px;
	clear: both;
	max-width: 100%;
}

.MenuBar {
	list-style-type: none;
  padding: 0px 10px 0px 10px;
  height: 25px;
}
.MenuBar li {
  display: inline-block;
  list-style: none;
  position:relative;
  height: 15px;
  padding: 5px;
  line-height: 15px;
}

.MenuBar li:hover > a,
.MenuBar li:hover > a:visited {
	color: #EEE;
}

.MenuBar li > a:hover, 
.MenuBar li > a:active,
.MenuBar li:hover > a:hover, 
.MenuBar li:hover > a:active {
  color: #EEE;
  text-decoration: none;
}

.MenuBar li > a:visited,
.MenuBar li > a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
}

.MenuBar li:hover {
  background-color: #888;
}

.MenuBar ul{
  background: #CCC;
	left: 0px;
  margin: 0px 10px 0px 0px;
  padding: 0px 10px 0px 20px;
	opacity: 0;
	height: 0px;
  display: none;
	position: absolute;
	top: 25px;
  transition: opacity .1s ease .2s;
  z-index: 255;
  
  border: 2px solid #999;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #888;
}

.MenuBar ul ul{
  left: 100%;
  top: 0px;
}
.MenuBar ul li{
  width: 100%;
}

.MenuBar li:hover > ul { 
	opacity: 1; 
	display: block;
  height: auto;
}

input.TopMenu {
	height: 100%;
	width: auto;
	padding: 0px 10px 0px 10px;
	border: 0px;
}
input.TopMenu:HOVER {
	background-color: #888;
	color: #FFF;
}
input.TopMenu:ACTIVE {
	background-color: #888;
	color: #000;
}

/****************************************
 **************** TOOLS *****************
 ****************************************/

#tools.Panel{
	float: left;
	height: 500px;
	width: 200px;
}

.PanelButtonsArea{
  position: relative;
  margin: 5px 5px 3px 10px;
  border-bottom: 2px solid #999;
}

.FileInputWrapper{
	margin: 0px 0px 0px auto;
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  right: 0px;
}

.FileInputWrapper span{
  display: block !important;
  position: relative;
  width: 23px;
  height: 23px;
  background-color: #999;
  border: #333 1px solid;
  border-radius: 15px;
  font-size: 21px;
	font-weight: bold;
	text-shadow: #BBB 1px 1px;
  vertical-align: middle;
  text-align: center;
  box-shadow: 1px 1px 2px #888;
  right: 0px;
  
  
  transition: background-color 0.3s ease-in-out, 
              box-shadow 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out, 
                      box-shadow 0.3s ease-in-out;
}

.FileInputWrapper:hover span {
  box-shadow: 1px 1px 2px #666;
  background-color: #AAA;
  text-shadow: #CCC 1px 1px;
  
	transition: background-color 0.3s ease-in-out, 
	            box-shadow 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out, 
	                    box-shadow 0.3s ease-in-out;
}

.FileInputWrapper input {
  margin: 1px;
  display: block;
  width: 23px;
  height: 23px;
  -moz-opacity: 0.00;
  opacity: 0.00;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*Image list*/
.ImageList {
  display: table;
  margin: 5px 0px 0px 5px;
  width: 180px;
  border-spacing: 5px;
}
.ImageList li {
	display: table-row;
  width: 180px;
}
.ImageList li:hover {
  background-color: #EEE;
}
.ImageList li:first-child span{
  font-weight: bold;
  border-bottom: 1px solid #111;
  height: 20px;
}
.ImageList li:hover:first-child{
  background-color: transparent;
}
.ImageList li:first-child span:first-child{
  max-width: 50px;
  width: 50px;
}
.ImageList li img{
  display: table-cell;
  margin: auto auto;
  max-width: 50px;
  max-height: 50px;
}
.ImageList li span{
  display: table-cell;
  width: 110px;
  max-width: 110px;
  overflow: hidden;
  font-size: 13px;
  vertical-align: middle;
}

/****************************************
 **************** WORK AREA**************
 ****************************************/
.AbsoluteDynamicWrapper.Displayed {
	display: block;
}
.AbsoluteDynamicWrapper{
	display: none;
}
#objectEditorWrapper.AbsoluteDynamicWrapper{
	position: absolute;
	height: auto;
	width: auto;
	top: 60px;
	left: 225px;
}
.Window{
	border: 1px #888 solid;
	box-shadow: 3px 3px 10px #888888;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.TitleBar{
	position: relative;
	height: 25px;
	width: 100%;
	min-width: 170px;
	border-bottom: 1px #AAA solid;
	text-align: justify;
	cursor: move;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #888888; /* Old browsers */
	background: -moz-linear-gradient(top,  
			#888888 0%, 
			#666666 50%, 
			#444444 51%,
			#666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, 
			color-stop(0%, #888888), 
			color-stop(50%,#666666), 
			color-stop(51%,#444444), 
			color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  
			#888888 0%,
			#666666 50%,
			#444444 51%,
			#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  
			#888888 0%,
			#666666 50%,
			#444444 51%,
			#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  
			#888888 0%,
			#666666 50%,
			#444444 51%,
			#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  
			#888888 0%,
			#666666 50%,
			#444444 51%,
			#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr='#888888',
				endColorstr='#666666',
				GradientType=0 ); /* IE6-9 */
}
.TitleBarText{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #000 2px 2px;
	color: #FFF;
	margin: 5px;
	line-height: 25px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: inherit;
}
.MetaPanel{
	background-color: #FDD;
}
.CloseButton {
	height: 21px;
	width: auto;
	padding: 0px 5px;
	border-radius: 3px;
	background-color: #F02727;
	border: solid 1px blanchedalmond;
	float: right;
	margin: 2px;
	font-weight: bold;
}
.CloseButton:HOVER{
	background-color: #D22222;
	color: #FFF;	
}
.CloseButton:ACTIVE{
	background-color: #D22222;
	color: #000;
}
.EditorContentPanel input{
	height: 30px;
	width: 170px;
	display: list-item;
	border: 1px solid;
}

.EditorContentPanel input:HOVER  {
	background-color: #888;
	color: #FFF;
}
.EditorContentPanel input:ACTIVE  {
	background-color: #888;
	color: #000;
}

/****************************************
 **************** LAYERS ****************
 ****************************************/
#layers.Panel{
	float: right;
	height: 500px;
	width: 200px;
}


/****************************************
 ************ NAVIGATION BAR ************
 ****************************************/
.InfoBar{
	width: 100%;
	max-width: 100%;
	height: 20px;
	max-height: 20px;
	bottom: 0px;
}
#infoBar.InfoBar{
	position: fixed;
	background-color: #333;
	opacity: 0.85;
	padding: 0px 20px;
	color: #EEE;
	font-family: sans-serif, serif;
	line-height: 14px;	
}
#infoBarSimulator.InfoBar{
	position: relative;
	clear: both;
	visibility: hidden;
}
p.test {
	margin: 3px 0px;
	vertical-align: middle;
	line-height: 14px;
}
/**************************************
 *********** GRAPHIC DEBUG ************
 **************************************/
/*
#topMenu.Panel{
	background-color: #F00;
}
#canvasWrapper.Panel{
	background-color: #0F0;
}
#tools.Panel{
	background-color: #00F;
}
#layers.Panel{
	background-color: #F0F;
}
//*/