/****************************************
 *************** GENERAL ****************
 ****************************************/

*{
	margin: 0px;
	padding: 0px;
}
html, body{
	height: 100%;
	width: 100%;
	font-size: 12px;
}
.BodyWrapper{
	height: 100%;
	min-height: 100%;
	position: relative;
	margin-bottom: 20px;
}
.Panel{
	position: relative;
	background-color: #DDD;
	border: #AAA 1px solid;
}

/****************************************
 *************** TOP MENU ***************
 ****************************************/

#topMenu.Panel{
	height: 25px;
	clear: both;
	max-width: 100%;
}
input.TopMenu {
	height: 100%;
	width: auto;
	padding: 0px 10px 0px 10px;
	border: 0px;
}
input.TopMenu:HOVER {
	background-color: #888;
	color: #FFF;
}
input.TopMenu:ACTIVE {
	background-color: #888;
	color: #000;
}

/****************************************
 **************** TOOLS *****************
 ****************************************/

#tools.Panel{
	float: left;
	height: 500px;
	width: 200px;
}

/****************************************
 **************** WORK AREA**************
 ****************************************/
.AbsoluteDynamicWrapper.Displayed {
	display: block;
}
.AbsoluteDynamicWrapper{
	display: none;
}
#objectEditorWrapper.AbsoluteDynamicWrapper{
	position: absolute;
	height: auto;
	width: auto;
	top: 60px;
	left: 225px;
}
.Window{
	border: 1px #888 solid;
}
.TitleBar{
	position: relative;
	height: 25px;
	width: 100%;
	min-width: 170px;
	background-color: #666;
	border-bottom: 1px #AAA solid;
	text-align: justify;
	cursor: move;
}
.TitleBarText{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	margin: 5px;
	line-height: 25px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: inherit;
}
.MetaPanel{
	background-color: #FDD;
}
.CloseButton {
	height: 21px;
	width: auto;
	padding: 0px 5px;
	border-radius: 3px;
	background-color: #F02727;
	border: solid 1px blanchedalmond;
	float: right;
	margin: 2px;
}
.CloseButton:HOVER{
	background-color: #D22222;
	color: #FFF;	
}
.CloseButton:ACTIVE{
	background-color: #D22222;
	color: #000;
}
.EditorContentPanel input{
	height: 30px;
	width: 170px;
	display: list-item;
	border: 1px solid;
}

.EditorContentPanel input:HOVER  {
	background-color: #888;
	color: #FFF;
}
.EditorContentPanel input:ACTIVE  {
	background-color: #888;
	color: #000;
}

/****************************************
 **************** LAYERS ****************
 ****************************************/
#layers.Panel{
	float: right;
	height: 500px;
	width: 200px;
}


/****************************************
 ************ NAVIGATION BAR ************
 ****************************************/
#infoBar.InfoBar{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 20px;
	max-height: 20px;
	background-color: #333;
	opacity: 0.85;
	color: #EEE;
	padding: 0px 20px;
	font-family: sans-serif, serif;
	line-height: 14px;	
}
#infoBarSimulator.InfoBar{
	position: relative;
	bottom: 0px;
	clear: both;
	width: 100%;
	height: 20px;
}
p.test {
	margin: 3px 0px;
	vertical-align: middle;
	line-height: 14px;
}
/**************************************
 *********** GRAPHIC DEBUG ************
 **************************************/
/*
#topMenu.Panel{
	background-color: #F00;
}
#canvasWrapper.Panel{
	background-color: #0F0;
}
#tools.Panel{
	background-color: #00F;
}
#layers.Panel{
	background-color: #F0F;
}
//*/